<main class="container">
  <p
    :if={flash = live_flash(@flash, :info)}
    class="alert alert-info"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"
  >
    <%= flash %>
  </p>

  <p
    :if={flash = live_flash(@flash, :error)}
    class="alert alert-danger"
    role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"
  >
    <%= flash %>
  </p>

  <%= @inner_content %>
</main>
