<div>
  <h2><%= @title %></h2>

  <.form
    :let={f}
    for={@changeset}
    id="vehicle-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <%= label(f, :license_plate) %>
    <%= text_input(f, :license_plate) %>
    <%= error_tag(f, :license_plate) %>

    <div>
      <%= submit("Save", phx_disable_with: "Saving...") %>
    </div>
  </.form>
</div>
