<section :for={preview <- @previews} class="row">
  <canvas
    :if={preview.canvas}
    id={"preview_#{preview.id}"}
    data-image={preview.canvas.image}
    width={preview.canvas.width}
    height={preview.canvas.height}
    phx-hook="DrawCanvas"
    style="max-width: 100%; object-fit: contain;"
  />
  <h2 :if={preview.recognition}><%= preview.recognition %></h2>
</section>
