<section :for={{id, preview} <- @previews} :if={preview} class="row">
  <canvas
    id={"preview_#{id}"}
    data-image={preview.image}
    width={preview.width}
    height={preview.height}
    phx-hook="DrawCanvas"
    style="
      max-width: 100%;
      object-fit: contain;
      width: 100% !important;
      height: auto !important;
    "
  />
</section>
