<ul>
  <%= if @current_user do %>
    <li><%= @current_user.email %></li>
    <li>
      <.link href={Routes.user_session_path(@conn, :delete)} method={:delete}>Log out</.link>
    </li>
  <% else %>
    <li>
      <.link navigate={Routes.user_session_path(@conn, :new)}>Log in</.link>
    </li>
  <% end %>
</ul>
